# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user

# Ignore log-files created by parallel processing
log.txt
*log.txt
log_*

# For these QGIS created layouting files
*aux.xml

# Linux directory files
.directory

# Ignore Rstudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore Ibis logo
logo.svg

# Ignore compiled RCPP data
src/*.o
src/*.so
src/*.dll
